![Logo](Technikklein.png)

# Task 3: Python Data Science (Part 3)
### Data Science


##### Dozent: Prof. Dr. Stefan Edlich
##### Medieninformatik
##### Hochschule Emden/Leer
##### Sommersemester 2021
   
_____



The third and last part of the task for this week was to work out some tasks on the [countries.csv](https://github.com/edlich/eternalrepo/blob/master/DS-WAHLFACH/countries.csv).

### Ex. 1 Load the countries.csv directly via URL import into your panda data frame!

In [156]:
import pandas as pd
url="https://raw.githubusercontent.com/edlich/eternalrepo/master/DS-WAHLFACH/countries.csv"
data = pd.read_csv(url, sep=",")
df = pd.DataFrame(data)
df

       Name     People     Area   BIP Currency
0   Germany   82521653   357385  3466      EUR
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL

### Ex. 2 Display some basic information as rows, columns and some basic statistical info.

In [159]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      5 non-null      object
 1   People    5 non-null      int64
 2   Area      5 non-null      int64
 3   BIP       5 non-null      int64
 4   Currency  5 non-null      object
dtypes: int64(3), object(2)
memory usage: 328.0+ bytes

### Ex. 3 Show the last 4 rows of the data frame.

In [160]:
df.tail(4)

       Name     People     Area   BIP Currency
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL

### Ex. 4 Show all the row of countries who have the EURO.

In [162]:
df[df.Currency == "EUR"]

      Name    People    Area   BIP Currency
0  Germany  82521653  357385  3466      EUR
3    Italy  60501718  301338  1850      EUR

### Ex. 5 Show only name and Currency in a new data frame.

In [164]:
df[['Name', 'Currency']]

       Name Currency
0   Germany      EUR
1     Japan      YEN
2    Canada      CAD
3     Italy      EUR
4  Brazilia     REAL

### Ex. 6 Show only the rows/countries that have more than 2000 BIP (it is in Milliarden USD Bruttoinlandsprodukt).

In [165]:
df[df.BIP > 2000]

      Name     People    Area   BIP Currency
0  Germany   82521653  357385  3466      EUR
1    Japan  126045000  377835  4938      YEN

### Ex. 7 Select all countries where with inhabitants between 50 and 150 Mio.

In [169]:
df.loc[(df.People > 50000000) & (df.People < 150000000)]

      Name     People    Area   BIP Currency
0  Germany   82521653  357385  3466      EUR
1    Japan  126045000  377835  4938      YEN
3    Italy   60501718  301338  1850      EUR

### Ex. 8 Change `BIP` to `Bip`.

In [171]:
df.rename(columns = {"BIP" : "Bip"})

       Name     People     Area   Bip Currency
0   Germany   82521653   357385  3466      EUR
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL

### Ex. 9 Calculate the Bip sum.

In [173]:
sum(df.BIP)

13581

### Ex. 10 Calculate the average people of all countries.

In [176]:
np.mean(df.People)

102786293.6

### Ex. 11 Sort by name alphabetically.

In [206]:
df.sort_values('Name')

       Name     People   Area   BIP Currency
4  Brazilia  208360000    BIG  1798     REAL
2    Canada   36503097    BIG  1529      CAD
0   Germany   82521653  SMALL  3466      EUR
3     Italy   60501718  SMALL  1850      EUR
1     Japan  126045000  SMALL  4938      YEN

### Ex. 12 Create a new data frame from the original where the area is changed as follows: all countries with > 1000000 get BIG and <= 1000000 get SMALL in the cell replaced!

In [207]:
# Reload data because of previous actions
url="https://raw.githubusercontent.com/edlich/eternalrepo/master/DS-WAHLFACH/countries.csv"
data = pd.read_csv(url, sep=",")
df = pd.DataFrame(data)

df.loc[(df.Area > 1000000), 'Area'] = 'BIG'
df.loc[(df.Area != 'BIG'), 'Area'] = 'SMALL'
df

       Name     People   Area   BIP Currency
0   Germany   82521653  SMALL  3466      EUR
1     Japan  126045000  SMALL  4938      YEN
2    Canada   36503097    BIG  1529      CAD
3     Italy   60501718  SMALL  1850      EUR
4  Brazilia  208360000    BIG  1798     REAL